body {
    margin: 0;
    background: pink;
}

body+nav {
    background: blue;
}
nav ul li {
    float: left;
    list-style: none;
    border: 30px;
    margin: 30px;
}

nav ul li a {
    text-decoration:none;
}

nav ul li a:hover {
    text-decoration:none;
    background: gray;
}

.main {
    clear: both;
}
.main .zuo {
    background: red;
    float: left;
    width: 40%;
    height: 400px;
}

.main .you {
    background: green;
    float: left;
    width: 60%;
    height: 400px;
}

footer {
    background: black;
}